html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background: linear-gradient(#48749c, #808080);
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    color: #3e5672;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}


.container {
    padding: 0;
    flex: 1;
}

.custom-navbar {
    background-color: #343a40; 
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    width: 100%; 
}

.nav-link {
    display: block; 
    width: 100%; 
    text-align: left; 
    padding: 10px; 
    box-sizing: border-box; 
}

.mt-auto {
    margin-top: auto; 
}
.custom-link-size {
    font-size: 18px; 
    padding: 20px; 
    display: block;
    width: 100%; 
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item {
    display: block;
    width: 100%; 
}

.nav-link {
    display: block; 
    width: 100%; 
    text-align: left; 
    padding: 5px; 
}


.form-inline {
    display: block; 
    padding-top: 0px;
    padding: 0px;
}

.btn-link {
    width: 100%;
    text-align: left; 
}
.text-custom {
    color: black;
}
.custom-card {
    background-color: #141414;
    border-color: #141414;
    
    color: white;
}
    .custom-card img {
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 100%;
        height: auto; 
    }
.image-margin-artists {
    border-radius: 50px; 
}
.image-margin {
    border-radius: 10px;
}
.card-text {
    text-align: left; 
}

.btn-custom {
    background: #2e2c2c;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    max-width: 350px;
}

    .btn-custom:hover {
        background-color: dimgrey;
    }

a {
    color: #fff;
    text-decoration: none;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

.custom-input {
    background-color: black;
    border-color: #5bc0de;
    color: #333;
}


.custom-btn {
    background-color: #5b0de;
    border-color: #46b8da;
    color: white;
}

    .custom-btn:hover {
        background-color: #31b0d5;
        border-color: #269abc;
    }

.image-margin {
    margin-left: 25px;
}

.icon-white {
    color: white;
}

.custom-burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    border: none;
    background: transparent;
}

.burger-lines {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
}

.custom-container {
    background-color: #141414;
    margin-top: 60px;
    padding: 30px; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.bg-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.rounded-circle {
    border-radius: 50% !important;
}

.custom-table img {
    max-width: 40px; 
}

.custom-table td {
    padding: 5px;
}
.custom-table-artists {
    font-size: small;
    max-width: 500px;
    width: 20%;
    margin: 0 auto; 
    border-collapse: collapse;
}

.custom-table-albums {
    font-size: small;
    max-width:500px;
    width: 30%; 
    margin: 0 auto; 
    border-collapse: collapse;
}
.custom-table-playlists {
    font-size: small;
    max-width: 500px;
    width: 90%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}
.custom-table {
    font-size: small;
    max-width: 900px;
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}

.dropdown-menu {
    min-width: 120px;
}
.custom-navbar {
    background: #141414;
    width: 100px; 
    height: 50vh; 
}

body {
    margin-left: 200px;
}

.custom-audio-player {
    display: flex;
    align-items: center;
    gap: 10px; 
    background-color: #222; 
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    max-width:420px;
}

    .custom-audio-player button {
        background-color: #222; 
        border: none;
        padding: 5px 10px; 
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        transition: background-color 0.3s ease;
        font-size: 1.2em; 
    }

        .custom-audio-player button:hover {
            background-color: #444; 
        }
.volume-bar {
    width: 50px;
    height: 2px;
    background-color: #434;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}
.seek-bar {
    width: 120px;
    height:5px;
    background-color: #444;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}
.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #888;
    border-radius: 50%;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #888;
    border-radius: 50%;
}

.current-time, .duration {
    font-size: 0.9em;
}

.custom-audio-player i {
    font-size: 1.4em;
    color: #fff; 
}
