@{
    ViewData["Title"] = "Browse";
}

<div class="container text-center my-4">
    <h1 class="my-4">Browse</h1>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card border-dark">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Albums</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Explore and view all albums in our collection.</p>
                    <a href="@Url.Action("Index", "Albums")" class="btn btn-light">Browse Albums</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card border-dark">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Artists</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Discover and view all artists.</p>
                    <a href="@Url.Action("Index", "Artists")" class="btn btn-light">Browse Artists</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card border-dark">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Songs</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Find and listen to all songs available.</p>
                    <a href="@Url.Action("Index", "Songs")" class="btn btn-light">Browse Songs</a>
                </div>
            </div>
        </div>
    </div>
</div>