@{
    ViewData["Title"] = "Browse";
}

<div class="container text-center my-4">
    <h1 class="my-4">Browse</h1>

    <div class="d-flex flex-column align-items-center">
        <a href="@Url.Action("Index", "Albums")" class="btn btn-custom btn-lg mb-2">
            Albums
        </a>

        <a href="@Url.Action("Index", "Artists")" class="btn btn-custom btn-lg mb-2">
            Artists
        </a>

        <a href="@Url.Action("Index", "Songs")" class="btn btn-custom btn-lg">
            Songs
        </a>
    </div>
</div>