@model IEnumerable<ArtistApplication.Domain.Domain.Song>

@{
    ViewData["Title"] = "Songs Index";
}

<div class="container">
    <h1 class="my-4 text-center">Songs</h1>

    <div class="text-center mb-4">
        <form asp-controller="Songs" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search songs" value="@ViewBag.SearchString" />
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>

    @if (Model != null && Model.Any())
    {
        <ul class="list-unstyled text-center">
            @foreach (var song in Model)
            {
                <li class="mb-3">
                    <a asp-action="Details" asp-route-id="@song.Id"><strong>@song.Title</strong></a> <br />
                    @if (!string.IsNullOrEmpty(song.FileName))
                    {
                        var audioFileUrl = Url.Content($"~/uploads/{song.FileName}");
                        <audio controls class="mt-2">
                            <source src="@audioFileUrl" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    }
                    else
                    {
                        <p>No audio file available.</p>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-center">No songs available.</p>
    }

    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
</div>